# Backend Framework
flask==3.0.0
flask-cors==4.0.0
flask-jwt-extended==4.6.0
flask-bcrypt==1.0.1
gunicorn==21.2.0

# Database
pymongo==4.6.1

# API & Web
requests>=2.32.3
python-dotenv==1.0.0

# Email & Scheduling
apscheduler==3.10.4

# Utilities
python-dateutil==2.8.2
